<div class="bg-gray-100 py-8">
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="w-full max-w-md">
        <form action="/" method="get">
          <div class="mb-4">
            <input
              type="text"
              name="event_type"
              placeholder="Event Type"
              class="w-full px-4 py-2 border rounded"
            />
          </div>
          <div class="mb-4">
            <input
              type="date"
              name="event_date"
              placeholder="Event Date"
              class="w-full px-4 py-2 border rounded"
            />
          </div>
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Search</button>
        </form>
      </div>
    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @events.each do |event| %>
        <div class="bg-white p-2 rounded shadow">
            <%= link_to event_path(event) do %>
            <%= image_tag("party.jpg", class: "w-full h-32 object-cover mb-2") %>
            <h2 class="text-lg font-semibold"><%= event.title %></h2>
            <p class="text-gray-600 text-sm"><%= event.location %></p>
            <p class="text-gray-600 text-sm"><%= event.date %></p>
            <% if event.cost.present? %>
              <p class="text-black font-semibold text-sm">Cost: <%= event.cost %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>


  </div>
</div>
